.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 1rem 3rem 12rem;

    & > * {
        margin: 1rem;
    }

    div {
        font-size: 2.5rem;
        text-transform: uppercase;

        span {
            color: rgb(6, 134, 57);
            text-shadow: 0px 0px 6px rgba(150, 150, 150, 0.505);
        }
    }

    .ctaBtn {
        width: 10rem;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        padding: 1rem;
        background-color:rgb(0, 107, 137);
        color: #fff;
        font-size: 1.1rem;
        cursor: pointer;
        transition: all .2s !important;

        &:hover {
            box-shadow:2px 2px 8px rgba(116, 116, 116, 0.499);
            transform: translateY(-5px);
        }
    }

    p {
        font-weight: 600;
        font-size: 1.2rem;

        span {
            color:rgb(188, 1, 202);
        }
    }
}

.imageContainer {
    padding: 3rem 1rem;
}