.statsContainer {
    // padding: 3rem 2rem 3rem 8rem;
    padding: 3rem;

    @media only screen and (max-width: 992px) {
        padding: 2rem 1rem 0 1rem;
    }
}

.netWorthTitle {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    h1 {
        margin-bottom: 0;
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    span {
        font-size: 1.5rem;

    }
}

.profileInfoContainer {
    padding: 3rem 8rem 3rem 2rem;
    
    @media only screen and (max-width: 992px) {
        padding: 2rem;
    }
}

.monthTabs {
    :global .ant-tabs-content-holder {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.accountListContainer {
    border: 1px solid #000;
    margin-bottom: 1rem;

    @media only screen and (max-width: 992px) {
        margin-top: 6rem;
    }
}

.accountListHeader {
    padding: 1rem;
    height: 100%;
}

.accountListYear {
    padding: .5rem;
}

.accountListMonthsTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.monthTabs {
    height: 100%;
    width: 100%;
}

.accountsList {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
}

.accountsListItem {
    display: flex;
    justify-content: space-between;
}

.accountListAddBtn {
    display: flex;
    justify-content: flex-end;

    button {
        height: 2rem;
        border: none;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #000;
        color: #fff;
        font-size: 1.3rem;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid black;
        }
    }
}

.editBtn {
    margin: 1rem 2rem 1rem 0;
}

.accountFormModal {

    :global .ant-modal-body {
        padding: 1rem;
    }

    :global .ant-modal-title div h2 {
        margin: 0 !important;
    }
}

.removeSVG {
    color: #fff;
    font-size: 1.2rem;
}

.importAccountsBtnContainer {

    display: flex;
    justify-content: center;
    align-items: center;

    button {
        height: 2rem;
            border: none;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
    
            background-color: rgb(12, 128, 181);
            color: #fff;
            font-size: 1.3rem;
            cursor: pointer;
            transition: all .3s ease-in-out;
    
            &:hover {
                background-color: rgb(0, 122, 178);
                box-shadow: 2px 2px 6px rgba(42, 42, 42, 0.3);
                transform: translateY(-5px);
            }
    }
}